/* Colums  START> */
.cf_column {
    min-height: 18px;
    margin-bottom: 0;
}

.full {
    float: left;
    width: 100%;
}

.half {
    float: left;
    width: 50%;
}

.third_left {
    float: left;
    width: 33%;
}

.third_center {
    display: inline-block;
    width: 34%;
}

.third_right {
    float: right;
    width: 33%;
}

.fourth {
    float: left;
    width: 25%;
}

.threefourth_right {
    float: right;
    width: 75%;
}

.threefourth_left {
    float: left;
    width: 75%;
}

.twothird {
    float: left;
    width: 67%;
}

/* Columns  END> */

/* Default Parameter Entry Field */
input[type="number"]::-webkit-inner-spin-button {
    opacity: 0; /* 1 is required for chromium 33+ beta  to show the arrows / spinners */
/*    margin-left: 5px;*/
}

/* Hide select dropdown arrow 
select {
    appearance: none;
    padding-left: 5px;
}
*/

.clear-both {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Standard GUI BOX */
.gui_box {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    float: left;
    width: calc(100% - 2px);
    margin-bottom: 10px;
    font-family: 'open_sansregular', Arial, serif;
}

.gui_box_titlebar {
    background-color: #808080;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    width: 100%;
    height: 27px;
    padding-bottom: 0;
    float: left;
    color: white;
    margin-bottom: 0px;
    font-family: 'open_sanssemibold', Arial, serif;
}

/* Spacers */
.spacer {
    padding-left: 7px;
    padding-right: 7px;
    width: calc(100% - 14px);
    float: left;
}

.spacer_box {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/* main title for each div*/
.spacer_box_title {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    margin-bottom: 0;
    float: left;
}

/* space around each div*/
.spacer_left {
    padding-left: 15px;
    float: left;
    width: calc(100% - 15px);
}

.spacer_right {
    padding-right: 15px;
    width: calc(100% - 15px);
    float: left;
}

.header-dialog .parameter td:first-child label {
    border-top-left-radius: 3px;
}

.header-dialog .parameter td:last-child label {
    border-top-right-radius: 3px;
}

/* Parameter box titles */
.header-dialog .parameter th {
    background-color: #b0b0b0;
    padding: 2px;
    padding-left: 10px;
    border-left: 0 solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #505050;
    text-align: left;
}

/* Parameter box other lines */
.header-dialog .parameter label {
    background-color: #d8d8d8;
    padding: 0px;
    margin: 0px;
    border-left: 0 solid #ccc;
    font-weight: normal;
    font-size: 13px;
    color: #505050;
                                text-align: center;
}

/* Parameter box other rows */
.header-dialog .cf tr {
    background-color: #d8d8d8;
    text-align: center;
}

.header-dialog .modal-dialog {
    width:75%;
    min-width:954px;
}

.header-dialog .cf th {
    border-right: solid 1px silver;
    font-weight: normal;
}

.header-dialog .cf th:last-child {
    border-right: 0;
}

.header-dialog .cf td:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.header-dialog .cf td:last-child {
    border-bottom-right-radius: 3px;
    border-right: 0;
    border-top-right-radius: 3px;
}

/* Box holding numeric inputs */
.header-dialog .cf input {
    width: calc(100% - 10px);
    border: 1px solid silver;
    border-radius: 3px;
    margin-left: 2px;
    text-align: center;
}

/* Box holding text down elements */
.header-dialog .cf select {
    appearance: none; /* hide arrow at right*/
    width: calc(100% - 10px);
    border: 1px solid silver;
    background-color: #FFFFFF;
    color: black;
    padding-top: 1px;
    padding-left: 2px;
    text-align: center;
    text-align-last: center;
}

.header-dialog .parameter th:nth-child(2) {
    border-top-left-radius: 3px;
}

.header-dialog .parameter th:first-child {
    border-top-left-radius: 3px;
}

.header-dialog .parameter th:last-child {
    border-top-right-radius: 3px;
}

.header-dialog input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.header-dialog table {
    float: center;
    margin: 0;
    border-collapse: collapse;
    width: calc(100% - 1px);
}

.header-dialog .gui_box {
    /*margin-bottom: 0;*/
}

.header-dialog .parameter td+input {
    padding: 1px;
    border-bottom: 0 solid #ccc;
}

.header-dialog table, .header-dialog table td {
    padding: 1px;
}

.header-dialog table th {
    padding: 0;
    border: 0;
    font-weight: normal;
}

.header-dialog .pid_titlebar th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #ccc;
}

.header-dialog .pid_titlebar th:first-child {
    text-align: left;
}

.header-dialog .pid_titlebar th:last-child {
    border-right: none;
}

/* for labels in PID rows */
.header-dialog table:not(.parameter) tr td:first-child {
    text-align: center;
    padding-left: 5px;
}

.header-dialog table tr td:last-child {
    border-right: 0 solid #ccc;
}

.header-dialog table td,
.header-dialog .pid_titlebar th {
    padding: 1px;
    width: 20%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.header-dialog table tr td {
    text-align: center;
    padding-left: ;
}

/* numeric inputs in tables */
.header-dialog table input {
    display: block;
    width: calc(100% - 4px);
    text-align: center;
    border: 0 solid #ccc;
    border-radius: 0;
    background-color: #F5F5F5;
}

.header-dialog .missing {
    background:rgba(255,0,0,0.2);
}

.header-dialog .static-features span {
    /* background-color:yellow; */
}

.header-dialog .static-features table {
    padding: 1px;
    border-right: 1px solid #ccc;
}

.header-dialog .controller {
    float: left;
    width: calc(100% - 10px);
    margin-left: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.header-dialog .controller select {
    width: calc(100% - 10px);
    height: 18px;
    line-height: 18px;
}

.header-dialog .profile {
    float: left;
    width: calc(25% - 2px); /* - border*/
    border: 1px solid #ccc;
    border-radius: 3px;
}

.header-dialog .profile .head {
    display: block;
    text-align: left;
    line-height: 18px;
    border-bottom: 1px solid #ccc;
    background-color: #828885;
    color: white;
    height: 19px;
    font-weight: normal;
    padding: 2px 2px 3px 6px;
}

.header-dialog .profile select {
    width: 100%;
    padding-left: calc(100% - 35px);
    height: 18px;
    line-height: 18px;
}

.header-dialog .pid_tuning .name {
    width: 25%;
}

.header-dialog .proportional {
    width: 25%;
}

.header-dialog .integral {
    width: 25%;
}

.header-dialog .derivative {
    width: 25%;
}

.header-dialog .cbox {
    width: 5%;
}

.header-dialog .cbox-label {
    width: 20%;
}

.header-dialog .cbox-description {
    width: 80%;
}

/* text in parameter boxes*/
.header-dialog .parameter {
    float: right;
    /* padding-left: 0; */
}

/*drop-down names display text*/
html:not(.isCF) .cf-only,
html:not(.isBF) .bf-only {
    /*display:none;*/
    /*visibility:hidden;*/
    /*opacity:0.25;*/
}
/*
html:not(.isBF28) .bf-only {
    display:none;
}
*/

.header-dialog .top-buttons {
    float: right;
}

.header-dialog .fixed_band {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.header-dialog .spacer_box {
    float: left;
}

.pid_labels th{
    text-align: center;
}

.pid_labels th label{
    font-weight: normal;
    font-size: 12px;
}

.pid_mode {
    width: 100%;
    height: 25px;
    float: left;
    margin: 0;
    text-align: left;
    line-height: 13px;
    padding: 8px 0 0 5px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    color: #202020;
    font-family: 'open_sans', Arial, serif;
    background: #D6D6D6 linear-gradient(315deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 20%,
    rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 30%, transparent 30%, transparent 40%,
    rgba(255, 255, 255, .2) 40%, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent 60%,
    rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .2) 70%, transparent 70%, transparent 80%,
    rgba(255, 255, 255, .2) 80%, rgba(255, 255, 255, .2) 90%, transparent 90%, transparent 100%,
    rgba(255, 255, 255, .2) 100%, transparent);
}

.pid_titlebar {
    color: #fff;
    background-color: #828885;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 18px;
    padding: 30px;
}

.pid_titlebar td:first-child {
    text-align: left;
}

.show {
    width:110px;
    float:right;
    margin-right:3px;
}

.show a {
    margin-left: 10px;
    width: calc(100% - 10px);
}

.header-dialog .helpicon {
    margin-top: -1px;
}

.header-dialog .number .helpicon {
    margin-top: 3px;
    margin-right: 0;
}

.header-dialog .gui_box_titlebar .helpicon {
    margin-top: 5px;
    margin-right: 5px;
}

.header-dialog .numberspacer {
    float: left;
    width: 65px;
    height: 21px;
}

.header-dialog .number {
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
}

.header-dialog .number:last-child {
    padding-bottom: 5px;
    border-bottom: 0;
}

.header-dialog .number input {
    width: 50px;
    padding-left: 3px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 3px;
    margin-right: 11px;
    font-weight: normal;
}

.header-dialog .other  table td,
.header-dialog .rxMode table td,
.header-dialog .misc   table td
 {
    padding: 1px;
    border: 0 solid #ccc;
}

.header-dialog .noline td {
    border: 0 solid #ccc;
}

.header-dialog .features label,
.header-dialog .static-features label{
    /* width: 70px; */
    /* padding-left: 3px; */
    text-align: left;
    border: 0 solid silver;
    border-radius: 3px;
    margin-right: 11px;
    font-weight: normal;
    font-size: 13px;
    width:90%;
}

.header-dialog .features span,
.header-dialog .static-features span {
    padding-right: 3px;
    height: 18px;
    line-height: 18px;
    text-align: left;
    border: 0 solid silver;
    border-radius: 3px;
    margin-right: 11px;
    font-weight: normal;
    font-size: 11px;
}

.header-dialog .gui_box span {
    font-style: normal;
    font-family: 'open_sansregular', Arial, sans-serif;
    line-height: 19px;
    color: #404040;
    font-size: 11px;
}

.noline {
    border:0;
}

.header-dialog .resetbt {
    width: 140px;
    float: right;
}

.header-dialog .right {
    float: right;
}

.header-dialog .pids {
    float: left;
    width: 25%;
}

.header-dialog .leftzero {
    padding-left: 0;
}

.header-dialog .tpa-breakpoint {
    border-top-left-radius: 0;
}

.header-dialog .roll {
    border-bottom-left-radius: 3px;
}

.header-dialog .pidTuningLevel {
    float: left;
}

.header-dialog .borderleft {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header-dialog .textleft {
    width: 25%;
    float: left;
    text-align: left;
}

.header-dialog .topspacer {
    margin-top:15px;
}
