.keys-dialog .parameter th {
    background-color: #828885;
    padding: 4px;
    border-left: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: white;
    text-align: left;
}

.keys-dialog .modal-dialog {
    width: 90%;
    min-width: 800px;
}

.keys-dialog .gui_box {
    margin-bottom: 0;
}

.keys-dialog .spacer_box {
    padding-bottom: 10px;
    float: left;
    width: calc(100% - 5px);
}

.keys-dialog .show {
    width:110px; 
    float:right; 
    margin-right:3px;
}
    
.keys-dialog .show a {
    margin-left: 10px;
    width: calc(100% - 10px);
}

.keys-dialog .helpicon {
    margin-top: -1px;
}



.keys-dialog li{
    display: flex;
    position: static;
    margin-bottom: 0.05em;
    height: 39px;
}

.keys-dialog ul{
    list-style-type: none;
    padding: initial;
    float: left;
    width: calc(100% - 4px);
}

.keys-dialog .keys {
    text-align: left;
}

.keys-dialog .key {
    margin: 3px;
    background-color: beige;
    display: inline-block;
    border-radius: 8px;
    border-style: groove;
    padding: 5px 10px;
    vertical-align: middle;
}

.keys-dialog .normal {
    margin: 3px;
    display: inline-block;
    border-radius: 8px;
    border-style: none;
    padding: 8px 0;
    vertical-align: middle;
}

.keys-dialog div.description {
    flex: 1;
    padding-left: 10px;
    color: #7d7d7d;
    text-align: justify;
    position: relative;
    vertical-align: middle;
    font-size: 11px;
}



.keys-dialog .gui_box_titlebar .helpicon {
    margin-top: 5px;
    margin-right: 5px;
}

.keys-dialog .noline td {
    border: 0 solid #ccc;
}

.keys-dialog .gui_box span {
    font-style: normal;
    font-family: 'open_sansregular', Arial, sans-serif;
    line-height: 19px;
    color: #7d7d7d;
    font-size: 11px;
    text-align: left;
    min-width: 165px;
    vertical-align: middle;
}

.noline {
	border:0;
}

.keys-dialog .right {
    float: right;
}

.keys-dialog .leftzero {
    padding-left: 0;
}

.keys-dialog .borderleft {
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
}

.keys-dialog .textleft {
    width: 25%; 
    float: left; 
    text-align: left;
}

.keys-dialog .topspacer {
    margin-top:15px;
}