body {
    padding-bottom:2em;
}

html, body {
	height:100%;
    overflow-y: visible; /* Show page scrollbar when packaged as a Chrome app */
}

/* Add an extended wide size to the page container for large monitors */
@media (min-width: 1400px) {
    .container.main-pane {
        width:90%;
    }
}

@media (max-width: 1140px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (min-width: 768px) {
    .welcome-pane .panel-body {
        min-height: 100px;
    }
}

.welcome-pane, .main-pane {
    position:relative;
    top:60px;
}

.header-pane {
    margin-left:5%;
    margin-right: 5%;
    width: 90%;
}

html:not(.has-log):not(.has-video) .header-pane {
    visibility:hidden;
}

.log-info {
    max-width: 30em;
}
.log-info .form-group {
    margin-bottom:10px;
}

/* Bootstrap-styled file inputs by abeautifulsite http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.log-seek-bar canvas {
    width:100%;
    height:50px;
    margin-top:0.5em;
}

.graph-row {
    margin-top:1em;
    display:none;
}

/* Phone */
.graph-row {
    height:300px;
}

#main-page {
    position: static;
    top: 60px;
}

/* Desktop */
@media (min-height:580px) {
    .graph-row {
        height:460px;
    }
}

@media (min-height:720px) {
    .graph-row {
        height:630px;
    }
}

.log-graph,
.log-graph-config {
    height:100%;
}



.log-close-legend-dialog,
.open-keys-dialog {
    float: right;
    font-size: 14px;
    color: #bbb;
    position: relative;
    top: -10px;
    cursor: pointer;
}

.log-open-legend-dialog {
    float: right;
    color: #bbb;
    padding-right: 14px;
    padding-top: 8px;
    font-size: 14px;
    display: none;
    cursor: pointer;
}

.log-graph-legend {
    font-size:85%;
    -webkit-flex-grow:1;
    flex-grow:1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom:1em;
}

.log-graph {
    position:relative;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background-color: black;
}

.log-graph-config {
    background-color:#222;
    color:#bbb;
    padding:1em;
    
    min-width: 135px;
    
    -webkit-flex-grow: 0.02;
    flex-grow: 0.02;
    
    -webkit-flex-direction:column;
    flex-direction:column;
    
    display:none;
}
.log-graph-config h2 {
    font-size:160%;
    margin-top:5px;
}
.log-graph-config h3 {
    font-size:125%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
}

html.has-log .log-graph-config {
    display:-webkit-flex;
    display:flex;
}

.config-graph {
    margin:0.5em 0;
    background-color: white;
}

.config-graph dd {
    margin-top:0.5em;
}

.config-graph-header {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
}

.config-graph-field {
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}

.config-graph-field-header {
    margin-bottom: 0;
}

.config-graph-field select {
    margin-right:4px;
}

.config-graph-field input[name=smoothing] {
    margin-right:4px;
    max-width: 56px;
    padding: 5px 5px;
    text-align: right;
}

.config-graph-field input[name=power] {
    margin-right:4px;
    max-width: 50px;
    padding: 5px 5px;
    text-align: right;
}

.config-graph-field input[name=scale] {
    margin-right:4px;
    max-width: 50px;
    padding: 5px 5px;
    text-align: right;
}

.config-graph-field input[name=linewidth] {
    margin-right:4px;
    max-width: 30px;
    padding: 5px 5px;
    text-align: center;
}

.config-graph h4 button {
    margin-left:0.5em;
}

.config-graph table tr{
    margin:0.5em 0;
    width: 100%;    
    line-height: 10px;
}

.config-graph tr[name="field-header"] {
    position: static;
}

.config-graph th[name=field] {
    /* margin-right:4px; */
    /* width: 325px; */
    position: relative;
    left: 100px;
}

.config-graph th[name=color] {
    position: relative;
    left: 280px;
}

.config-graph th[name=smoothing] {
    /* margin-right:4px; */
    /* width: 66px; */
    position: relative;
    left: 214px;
}

.config-graph th[name=expo] {
    /* margin-right:4px; */
    /* width: 49px; */
    /* text-align: center; */
    position: relative;
    left: 234px;
}

.config-graph th[name=zoom] {
    /* margin-right:4px; */
    /* width: 65px; */
    position: relative;
    left: 256px;
}

.config-graph th[name=line] {
	/* margin-right:4px; */
	position: relative;
	left: 271px;
}

.color-picker {
    height:30px;
    max-width: 30px;
}

.setup-parameters {
    margin:0.5em 0;
}

.setup-parameters dd {
    margin-top:0.5em;
}

.setup-parameter {
    margin:0.5em 0;
}

#graphCanvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
}

#craftCanvas,
#analyserCanvas {
    position:absolute;
    top:0;
    left:0;
    /* pointer-events:none; */ /* Allow the user to drag the graph lines instead of hitting the craft */
    display:none;
}

html.has-craft #craftCanvas,
html.has-analyser #analyserCanvas {
	display:block;
}

html.has-analyser-fullscreen.has-analyser .analyser input {
	display:block;
}

.analyser input#analyserZoomX {
	width: 100px;
	height : 10px;
	left: 975px;
	top: 10px;
	float: right;
}
.analyser input#analyserZoomY {
	width: 10px;
	height: 100px;
	-webkit-appearance: slider-vertical;
	left: 1085px;
	top: 30px;
}

.analyser input {
	display: none;
	padding: 3px;
	margin-right: 3px;
	z-index: 9;
	position: absolute;
}

.analyser {
	position: absolute;
}

.log-graph video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
}

/* Prevent field value columns from jumping as their contents change */
.log-field-values th,
.log-field-values td {
    width:15%;
}

.log-field-values td {
    font-family: monospace;
}

.log-field-values .raw-value {
    max-width:5em;
}

.log-field-values table,
.log-field-values h4 {
    background-color: #FFFFFF;
}

.log-field-values tr:nth-child(even) {
    background-color: #EBF3F7;
}

html.has-table-overlay .log-field-values {
    position: fixed;
    top: 7%;
    left: 10%;
    width: 78.5%;
    display:block;
    padding-left:0;
    padding-right:0;
    font-size:xx-small;
    background-color: white;
    border: groove #337ab7;
    z-index: 10;
}

html:not(.has-config-overlay) .configuration-file,
html:not(.has-marker) .marker-offset {
    display:none;
}

.configuration-changed {
    background-color: #f2dede;
}

.configuration-file h3 {
    background-color: #d9edf7;
    margin-top: 2px;
    padding: 5px;
}

.configuration-close {
    float: right;
    color: #bbb;
    cursor: pointer;
}

html.has-config .configuration-file {
    position: fixed;
    top: 7%;
    left: 10%;
    width: 78.5%;
    padding:10px;
    background-color: white;
    border: groove #337ab7;
    z-index: 11;
}

html.has-config .configuration-list {
    height:580px;
    overflow:hidden;
    overflow-y:scroll;
}

.graph-legend-field {
    padding-bottom:0.1em;
    margin-bottom:0.3em;
    cursor:pointer;
    text-align: right;
}

.graph-legend-field > span {
    margin-left: 0.7em;
}

html.has-video .graph-row,
html.has-log .graph-row {
    display:-webkit-flex;
    display:flex;
    position: inherit;
}

html.has-video .log-graph {
    height:auto;
}
html.has-video .log-graph video {
    width:100%;
    height:100%;
}
html.has-video #graphCanvas {
    background-color:rgba(0,0,0,0.25);
}

html .view-video,
html .view-craft,
html .view-sticks,
html .view-table,
html .view-analyser,
html .view-analyser-sticks,
html .view-analyser-fullscreen {
     color:black;
}

html.has-analyser-sticks.isBF .view-analyser-sticks,
html.has-analyser.isBF .view-analyser,
html.has-table.isBF .view-table,
html.has-sticks.isBF .view-sticks,
html.has-craft.isBF .view-craft,
html:not(.video-hidden).isBF .view-video {
     color: rgba(158, 100, 0,1);
}

html.has-analyser-sticks.isCF .view-analyser-sticks,
html.has-analyser.isCF .view-analyser,
html.has-table.isCF .view-table,
html.has-sticks.isCF .view-sticks,
html.has-craft.isCF .view-craft,
html:not(.video-hidden).isCF .view-video {
     color: rgba(0, 162, 63,1);
}

html.has-analyser-sticks.isINAV .view-analyser-sticks,
html.has-analyser.isINAV .view-analyser,
html.has-table.isINAV .view-table,
html.has-sticks.isINAV .view-sticks,
html.has-craft.isINAV .view-craft,
html:not(.video-hidden).isINAV .view-video {
     color: rgba(8, 80, 172,1.0);
}


html:not(.has-analyser-fullscreen) .glyphicon-resize-small {
     display:none;
}

html.has-analyser-fullscreen .glyphicon-resize-full {
     display:none;
}

html.has-analyser .view-analyser-fullscreen {
     visibility:inherit;
}

html:not(has-analyser) .view-analyser-fullscreen {
     visibility:hidden;
}

.video-top-controls > li {
    display:inline-block;
    margin-right: 17px;
    vertical-align: top;
}

html.has-log .video-top-controls > li.log-view-panel, html.has-log .video-top-controls > li.log-chart-zoom-panel, html.has-log .video-top-controls > li.log-chart-time-panel {
    display: inline-block;
}

.video-top-controls > li.log-view-panel, .video-top-controls > li.log-chart-zoom-panel, .video-top-controls > li.log-chart-time-panel {
    display: none;
}

.video-top-controls > .log-sync-panel {
    display:none;
}
html.has-video.has-log .video-top-controls > .log-sync-panel {
    display:inline-block;
}
html .video-jump-start,
html .video-jump-end,
html .log-jump-start,
html .log-jump-end {
    display:none;
}
html.has-video .video-jump-start,
html.has-video .video-jump-end {
    display:block;
}
html.has-log .log-jump-start,
html.has-log .log-jump-end {
    display:block;
}

.log-seek-bar {
    display:none;
}
html.has-video .log-seek-bar,
html.has-log .log-seek-bar {
    display:block;
}

html .graph-time-marker-group > .graph-time-marker {
    display:none;
}
html.has-marker .graph-time-marker-group > .graph-time-marker {
    display:inline-block;
}

.log-metadata, .log-field-values {
    display:none;
}
html.has-log:not(.is-fullscreen) .log-metadata,
html.has-log:not(.is-fullscreen).has-table .log-field-values {
    display:block;
}

.video-top-controls,
.log-graph {
    display:none;
}

html.has-video .video-top-controls,
html.has-log .video-top-controls,
html.has-video .log-graph,
html.has-log .log-graph {
    display:block;
}

html.has-video .video-top-controls,
html.has-log .video-top-controls {
	top:50px;
	position:fixed;
	z-index:10;
	background-color:white;
	padding-bottom:10px;
	width: 100%;
	min-width: 1390px;
}

html.has-video .log-graph,
html.has-log .log-graph,
html.has-log .log-graph-config,
html.has-log .log-seek-bar,
html.has-log:not(.has-table-overlay) .log-field-values {
    position:relative;
    top: 60px;
}

.playback-rate-control,
.graph-zoom-control  {
    width: 100px;
    margin-right: 13px;
}

.main-pane {
    display:none;
}

html.video-hidden video {
	display:none;
}

html:not(.has-video) .view-video {
	visibility:hidden
}

html.has-log .main-pane,
html.has-video .main-pane {
    display:block;
}
html.has-log .welcome-pane,
html.has-video .welcome-pane {
    display:none;
}

.btn-video-export.disabled {
    pointer-events:all !important;
}
.btn-video-export {
    display:none;
}
html.has-log .btn-video-export {
    display:inline-block;
}

.pane-video-settings, .pane-video-progress, .pane-video-complete {
    display:none;
}
.video-export-mode-settings .pane-video-settings,
.video-export-mode-progress .pane-video-progress,
.video-export-mode-complete .pane-video-complete {
    display:block;
}

.video-dim-section {
    display:none;
}
html.has-video .video-dim-section {
    display:block;
}

progress {
    width:100%;
    height:20px;
}
.jumbotron {
    padding: 15px;
}
.navbar-inverse .navbar-brand {
    color: #EAEAEA;
}

.navbar {
    margin-bottom:5px;
}

.navbar-logo {
	position: absolute;
	display:block;
	left: -40px;
}

html.isCF .navbar-logo {
    left: 16px;
}

html.isINAV .navbar-logo {
    left: 34px;
}

html.isCF .navbar-logo img {
	content: url(".././images/cf_logo_white.svg");
	width: 160px;
}

html.isBF .navbar-logo img {
	content: url(".././images/bf_logo_white.svg");
	width: auto;
}

html.isINAV .navbar-logo img {
	content: url(".././images/inav_logo_white.png");
	width: auto;
	left: -16px;
	top: 3px;
}

.navbar-logo img {
	position:relative;
	height: 35px;
	width: 210px;
	padding: 0;
	display:block;
}

.navbar-logo a {
    padding: 0;
    position: absolute;
    top: 44%;
    left: 68%;
    width: 100%;
}

.navbar-logo span {
	padding-left: 0;
	position: relative;
	left: -150px;
	top: 20px;
	color: antiquewhite;
}

.navbar-static-top {
    position: fixed;
       width: 100%;
}

#status-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0 10px 0 10px;
    border-top: 1px solid #7d7d79;
    background-color: #bfbeb5;
}

#status-bar .overrides {
	text-decoration: line-through;
}

html:not(.has-log) #status-bar {
    display: none;
}

#status-bar .bookmark-1,
#status-bar .bookmark-2,
#status-bar .bookmark-3,
#status-bar .bookmark-4,
#status-bar .bookmark-5,
#status-bar .bookmark-6,
#status-bar .bookmark-7,
#status-bar .bookmark-8,
#status-bar .bookmark-9 {
    background-color: red;
    color : white;
    /* padding-left: 5px; */
    /* padding-right: 0; */
    width: 20px;
    /* margin-right: 0; */
    /* margin-left: 0; */
    text-align: center;
    visibility: hidden;
    cursor: pointer;
}

#status-bar .marker-offset {
    visibility: hidden;
    cursor: pointer;
}

#status-bar .bookmark-clear {
    background-color: blue;
    color : white;
    padding-left: 0;
    padding-right: 0;
    width: 60px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    visibility: hidden;
    cursor: pointer;
}

#status-bar .configuration-file-name {
    cursor: pointer;
}

html:not(.has-config) #status-bar .configuration-file-name {
    display: none;    
}

#status-bar div:not(:last-child) {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #7d7d79;
}

#status-bar div:first-child {
    margin-left: 10px;
}

#status-bar div:last-child {
    float: right;
}

/***

	IOS Style Checkboxes common code

***/

input[type="checkbox"] { 
	position: absolute;
	opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;
	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0.4);
	margin: 0 0 0 2.5em;
	display: inherit;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
    background: #3b89ec 0 0;
    border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
	width: 34px;	height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
	width: 50px;	height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div,
html.isCF input[type="checkbox"].ios-switch:checked + div {
	background-color: #00e359;
	border: 1px solid rgba(0, 162, 63,1);
	box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Orange Track */
input[type="checkbox"].orange.ios-switch:checked + div, 
html.isBF input[type="checkbox"].ios-switch:checked + div {
	background-color: #FFC638;
	border: 1px solid rgba(158, 100, 0, 1);
	box-shadow: inset 0 0 0 10px rgba(224,168,0,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px;
	height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-left: 0;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
	width: 16px; height: 16px;
	margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(16px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
	width: 23px; height: 23px;
	margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div ,
html.isCF input[type="checkbox"].ios-switch:checked + div > div {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}

/* Orange Knob */
input[type="checkbox"].orange.ios-switch:checked + div > div ,
html.isBF input[type="checkbox"].ios-switch:checked + div > div {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(158, 100, 0,1);
}

/* Blue Knob */
input[type="checkbox"].blue.ios-switch:checked + div > div ,
html.isINAV input[type="checkbox"].ios-switch:checked + div > div {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(8, 80, 172,1);
}

html.isBF .config-graph h4 span:first-child,
html.isBF .log-graph-config h3 span {
    background-image: linear-gradient(to bottom,#fff8e9 0,#ffbb00 100%);
}

html.isCF .config-graph h4 span:first-child,
html.isCF .log-graph-config h3 span {
    background-image: linear-gradient(to bottom,#fff8e9 0,#00a23f 100%);
}

html.isINAV .config-graph h4 span:first-child,
html.isINAV .log-graph-config h3 span {
    background-image: linear-gradient(to bottom,#fff8e9 0,#0850ac 100%);
}

.config-graph h4 span,
.log-graph-config h3 span {
    /* background-color: rgba(239,187,0,0.5); */
    padding: 2px 4px 4px;
    border-radius: 5px;
    margin-right:3px;
}

div#lap-timer {
    position: absolute;
    background-color: rgb(34, 34, 34);
    z-index: 10;
    top: 5%;
    left: calc(90% - 233px);
    border-radius: 5px;
    padding: 5px;
    color: #bbb;
    border: thin solid;
}

tr.lap-timer-heading td {
    font-style: italic;
    /* text-decoration: underline; */
    border-bottom: thin solid white;
}

table#lap-timer-laps {
    display: none;
}

html.hasLaps table#lap-timer-laps {
    display: table;
}

div#lap-timer td:first-child {
    padding-right: 10px;
}


.viewer-download {
    display: none;
}

/*
 Bootstrap Tooltip Overrides
*/
.tooltip {
    --tooltip-color: #363636;
}    
.tooltip-inner {
  background-color: var(--tooltip-color);
}
.tooltip.top .tooltip-arrow {
  border-top-color: var(--tooltip-color);
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: var(--tooltip-color);
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: var(--tooltip-color);
}
.tooltip.right .tooltip-arrow {
 border-right-color: var(--tooltip-color);
}
.tooltip.left .tooltip-arrow {
  border-left-color: var(--tooltip-color);
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: var(--tooltip-color);
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: var(--tooltip-color);
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: var(--tooltip-color);
}

/*
 Mouse Notification styling
*/
.mouseNotification {
    position: absolute;
    margin: 0 auto;
    white-space: pre-wrap;
}

.mouseNotification-box {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 10;
    padding: 4px;
    color: white;
    background-color: #363636;
    border: 2px;
    border-radius: 3px;
}