body {
    padding-bottom:2em;
}

.log-info {
    max-width: 30em;
}
.log-info .form-group {
    margin-bottom:10px;
}

/* Bootstrap-styled file inputs by abeautifulsite http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.log-seek-bar canvas {
    width:100%;
    height:50px;
    margin-top:0.5em;
}

.log-graph {
    height:600px;
    position:relative;
    margin-top:1em;
}

#graphCanvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
}

#craftCanvas {
    position:absolute;
    top:0;
    left:0;
}

.log-graph video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
}

/* Prevent field value columns from jumping as their contents change */
.log-field-values th,
.log-field-values td {
    width:15%;
}
.log-field-values td {
    font-family: monospace;
}

.log-field-values .raw-value {
    max-width:5em;
}

html.has-video .log-graph {
    height:auto;
}
html.has-video .log-graph video {
    position:relative;
    width:100%;
    height:auto;
}
html.has-video #graphCanvas {
    background-color:rgba(0,0,0,0.25);
}

.video-top-controls > li {
    display:inline-block;
    margin-right:1em;
}

.video-top-controls > .log-sync-panel {
    display:none;
}
html.has-video.has-log .video-top-controls > .log-sync-panel {
    display:inline-block;
}
html .video-jump-start,
html .video-jump-end,
html .log-jump-start,
html .log-jump-end {
    display:none;
}
html.has-video .video-jump-start,
html.has-video .video-jump-end {
    display:block;
}
html.has-log .log-jump-start,
html.has-log .log-jump-end {
    display:block;
}

.log-seek-bar {
    display:none;
}
html.has-video .log-seek-bar,
html.has-log .log-seek-bar {
    display:block;
}

.log-metadata, .log-field-values {
    display:none;
}
html.has-log .log-metadata,
html.has-log .log-field-values {
    display:block;
}

.video-top-controls,
.log-graph {
    display:none;
}

html.has-video .video-top-controls,
html.has-log .video-top-controls,
html.has-video .log-graph,
html.has-log .log-graph {
    display:block;
}