.user-settings-dialog img {
	width: 125px;
	max-height: 125px;
}

.user-settings-dialog table {
	width:calc(100% - 2px);
}

.user-settings-dialog select {
	width:100px;
	margin-left:10px;
}

.user-settings-dialog label.option  {
	width: 100%;
}


.user-settings-dialog label {
	width: 75px;
}


.user-settings-dialog p {
    font-style: normal;
    font-family: 'open_sansregular', Arial;
    line-height: 19px;
    color: #7d7d7d;
    font-size: 11px;
}
