/.settings/
/.project
.DS_Store
/blackbox-chrome-app.zip
.idea/workspace.xml
.idea/tasks.xml
/.idea/
node_modules/
npm-debug.log
cache/
apps/
dist/
debug/
release/

# artefacts for Visual Studio Code
/.vscode/