[Desktop Entry]
Name=Betaflight Blackbox Explorer
Comment=Crossplatform blackbox analitics tool for Betaflight flight control system
Exec=/opt/betaflight/betaflight-blackbox-explorer/betaflight-blackbox-explorer
Icon=/opt/betaflight/betaflight-blackbox-explorer/icon/bf_icon_128.png
Terminal=false
Type=Application
MimeType=application/x-blackboxlog
