# Builds Betaflight Blackbox Explorer on Windows, Linux and macOS platforms.
#
# After building, artifacts are released to a seperate repository.

name: CI

on: 
  workflow_call:
    inputs:
      debug_build:
        description: 'Specifies if it is a debug build or a release build'
        default: true
        required: false
        type: boolean

jobs:
  build:
    name: Build (${{ matrix.name }})
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Linux
            os: ubuntu-22.04
            releaseArgs: --linux64

          - name: macOS
            os: macos-12
            releaseArgs: --osx64

          - name: Windows
            os: windows-2022
            releaseArgs: --win64
    steps:
      - uses: actions/checkout@v3

      - name: Cache NW.js
        uses: actions/cache@v3
        with:
          path: cache/
          key: ${{ runner.os }}-${{ hashFiles('gulpfile.js') }}

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn

      - name: Install macos-alias
        run: |
          sudo -H pip install setuptools
          sudo npm i -g yarn@1.22.0 node-gyp@10
          sudo npm install -g macos-alias
          yarn --network-timeout 1000000
        if: ${{ matrix.name == 'macOs' }}
  

      - run: yarn install --immutable --immutable-cache --check-cache

      - run: yarn gulp release ${{ matrix.releaseArgs }}
        if: ${{ !inputs.debug_build }}

      - run: yarn gulp debug-release ${{ matrix.releaseArgs }}
        if: ${{ inputs.debug_build }}

      - name: Publish build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Betaflight-Blackbox-Explorer${{ inputs.debug_build == 'true' && '-Debug' || '' }}-${{ matrix.name }}
          path: release/
          retention-days: 90
